@import 'tailwindcss';

@theme {
  --color-deep: #2a2b35;
  --color-surface: #404355;
  --color-accent-purple: #6366f1;
  --color-accent-blue: #3b82f6;
  --color-accent-amber: #f59e0b;
  --color-neutral: #3f4045;
}

body {
  background-color: #2a2b35;
}
