@import 'tailwindcss';

@theme {
  --color-deep: #30292f;
  --color-surface: #413f54;
  --color-accent-purple: #5f5aa2;
  --color-accent-blue: #355691;
  --color-neutral: #3f4045;
}

body {
  background-color: #30292f;
}
